---
name: Generate Atlases
on:
  schedule:
    - cron: '0 18 * * *'

  workflow_dispatch:
    inputs:
      mainline_product:
        description: 'Mainline product branch'
        required: true
        default: 'wow'
        type: choice
        options:
          - wow
          - wowt
          - wowxptr
          - wow_beta

      mainline_beta_product:
        description: 'Mainline beta product branch'
        required: false
        default: wow_beta
        type: choice
        options:
          - wow_beta

      classic_product:
        description: 'Classic product branch'
        required: true
        default: 'wow_classic'
        type: choice
        options:
          - wow_classic
          - wow_classic_ptr
          - wow_classic_beta

      classic_vanilla_product:
        description: 'Vanilla product branch'
        required: true
        default: 'wow_classic_era'
        type: choice
        options:
          - wow_classic_era
          - wow_classic_era_ptr

      classic_tbc_product:
        description: 'TBC product branch'
        required: true
        default: 'wow_classic_era_ptr'
        type: choice
        options:
          - wow_classic_era_ptr
          - wow_classic_tbc
          - wow_classic_tbc_ptr

      classic_wrath_product:
        description: 'Wrath product branch'
        required: true
        default: 'wow_classic_titan'
        type: choice
        options:
          - wow_classic_titan
          - wow_classic_titan_ptr
          - wow_classic_wrath
          - wow_classic_wrath_ptr

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Atlases
        run: make ${MAINLINE_PRODUCT} ${MAINLINE_BETA_PRODUCT} ${CLASSIC_PRODUCT} ${CLASSIC_VANILLA_PRODUCT} ${CLASSIC_TBC_PRODUCT} ${CLASSIC_WRATH_PRODUCT}
        env:
          MAINLINE_PRODUCT: ${{ inputs.mainline_product }}
          MAINLINE_BETA_PRODUCT: ${{ inputs.mainline_beta_product }}
          CLASSIC_PRODUCT: ${{ inputs.classic_product }}
          CLASSIC_VANILLA_PRODUCT: ${{ inputs.classic_vanilla_product }}
          CLASSIC_TBC_PRODUCT: ${{ inputs.classic_tbc_product }}
          CLASSIC_WRATH_PRODUCT: ${{ inputs.classic_wrath_product }}

      - name: Commit Atlases
        run: |
          git config --local user.name 'github-actions'
          git config --local user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add -A
          git commit -m 'Automated regeneration of atlas databases'
          git push
        shell: pwsh
